.support{
	position: relative;
	top: 3vw;
	background: linear-gradient(to bottom, NavajoWhite, orange);
	height: 3vw;
	width: 15vw;
	left: 25vw;
	border-radius: 0.4vw;
	color: white;
	line-height: 3vw;
	}
.time_work{top: 3vw;
	position: absolute;
	left: 45vw;
	}
.holl_work{top: 5vw;
	position: absolute;
	left: 45vw;}
.moscow{top: 3vw;
	position: absolute;
	left: 65vw;}
.phone{top: 5vw;
	position: absolute;
	left: 65vw;}
.email_our{top: 3vw;
	left: 75vw;
	position: absolute;}
.copyright{top: 8vw;
	left: 25vw;
	position: absolute;}
