@charset "utf-8";

body
{
	margin: 0.1vw;
	font-family: 'Roboto', sans-serif;
	background: url(grey_wash_wall.png);
	/*background: url(bg.jpg);*/
	background-attachment:fixed;
	background-repeat:cover;
}

.title
{
	position:absolute;
	width:100vw;
	height:9vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 1vw;
}
.slogan
{
	position: absolute;
	z-index: 2;
	top: 2vh;
	left: 2vw;
}
.slogan img
{
	height: 7vw;
	width: 9vw;
}
.oppotunity
{
	position:absolute;
	width:100vw;
	top: 6vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 10px;
}
.for_rieltors
{
	position:absolute;
	width:100vw;
	top: 6vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 10px;
}
.title h1
{
	color: #FFFFFF;
	font-size: 2.5vw;
}
.title h2
{
	color: #FFFFFF;
	font-size: 1.5vw;
}
h2
{
	font-size: 2vw;
}
a
{
	text-decoration: none;
}
.links
{
	position:absolute;
	top: 9vw;
	width:100vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 1vw;
	z-index: 1;
}
.links p
{
	color: #FFFFFF;
	font-size: 1.7vw;
}
#orders
{
	position: inherit;
	left: 1vw;
	width:39vw;
	}
#messegers
{
	position: inherit;
	left: 60vw;
	width:39vw;
}
#about
{
	position: inherit;
	left: 1vw;
	width:15vw;
	cursor: pointer;
}
#how_work
{
	position: inherit;
	left: 25vw;
	width:15vw;
	border-radius: 10px;
	cursor: pointer;
}
#connection
{
	position: fixed;
	top: 70vw;
	left: 83vw;
	width:15vw;
	z-index: 1;
	cursor: pointer;
}
#connection p
{
	color: black;
}
#self
{
	position: inherit;
	left: 40vw;
	width:20vw;
}
#enter
{
	position: inherit;
	left: 84vw;
	width:15vw;
	cursor: pointer;
}
#mymess
{
	position: inherit;
	left: 90vw;
	top: -8vw;
	width:5vw;
	cursor: pointer;
}
#registration
{
	position: inherit;
	left: 60vw;
	width:15vw;
	cursor: pointer;
}
#img
{
	width: 9vw;
	height:9vw;
}
#photo
{
	position: absolute;
	right: 1vw;
	top: 1vw;
}
#photo img
{
	height: 6vw;
	width: 7vw;
}
.switch
{
	position: absolute;
	top: 10vw;
	width:40vw;
	height:60vh;
	text-align:  center;
	color: white;
	border: 0.5vw solid black;
}
.left_ri
{
	left: 5vw;
}
.right_ri
{
	left: 55vw;
}
.ri_rect
{
	position: absolute;
	top: 30vw;
	height:10vw;
	width:40vw;
	background-color: #58D3F7;
	color: black;
}
.rect
{
	position: absolute;
	background-color: #58D3F7;
	width: 19.8vw;
	top: 42vh;
	height: 9vh;
}
.hc{
	top: 35vh;
	left: 5vw;
    width: 9.8vw;
	height: 9.8vw;
    border-radius:10vw;
    background-color: #58D3F7;
	position: absolute; 
    clip: rect(0, 50vw, 50vw, 0);
}
.hc img
{
	max-width: 5vw;
	max-height: 5vw
}
.slides
{
	position:absolute;	
	top: 10vw;
	width:19.8vw;
	height:60vh;
	text-align:  center;
	color: white;
}
.rieltors
{
	left: 0vw;
}
.rieltors img
{
	height: 11vw;
	width: 11vw;
}
.insurance
{
	background: url(back2.png)no-repeat;
	background-size: 100%;
	left: 20vw;
}
.insurance img
{
	height: 11vw;
	width: 11vw;
}
.ritual
{
	background: url(back3.png) no-repeat;
	background-size: 100%;
	left: 60vw;
}
.ritual img
{
	height: 11vw;
	width: 11vw;
}

.tourists
{
	background: url(back4.png) no-repeat;
	background-size: 100%;
	left: 40vw;
}
.tourists img
{
	height: 11vw;
	width: 11vw;
}
.other
{
	background: url(back5.png) no-repeat;
	background-size: 100%;
	left: 80vw;
}
.other img
{
	height: 11vw;
	width: 11vw;
}
.main_enters
{
	top: 10vw;
	position:absolute;
	width:40vw;
	left: 30vw;
	height:27vw;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.enters
{
	position:absolute;
	width:40vw;
	height:23vw;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.ch
{
	top:12vw;
	left: 25vw;
	width: 50vw;
}
.ch_inf
{
	top: 12vw;
	left: 5vw;
}
.mes
{
	top: 12vw;
	left: 55vw;
}
.mes img
{
	max-width: 8vw;
	max-height: 6vw;
}
.ords
{
	top: 40vw;
	left: 5vw;
}
.ords h3
{
	color: black;
}
.ords img
{
	max-width: 3vw;
	max-height: 3vw;
}
.offs
{
	top: 40vw;
	left: 55vw;
}
.offs img
{
	max-width: 8vw;
	max-height: 8vw;
}
.offers
{
	position: absolute;
	top: 150px;
	left: 25vw;
	width:50vw;
	height:850px;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.text_align
{
	margin-left: 5vw;
	margin-right: 20vw;
}
.text_align_small
{
	margin-left: 3vw;
	margin-right: 3vw;
}
#list
{
	margin: 3vw;
	position: absolute;
	top: 4vw;
	width:70vw;
	border-radius: 10px;
	color: black;
}
.list
{
	margin-top: 1vw;
	margin-bottom: 0vw;
	width:65vw;
	/*background: linear-gradient(to top, #CEECF5, #58D3F7, #CEECF5);*/
	background: url(back.jpg);
	background-size: cover;
	text-align:  left;
	color: black;
	float:left;
}
.list_small
{
	margin-top: 1vw;
	margin-bottom: 0vw;
	width:33vw;
	/*background: linear-gradient(to top, #CEECF5, #58D3F7, #CEECF5);*/
	background: url(back.jpg);
	background-size: cover;
	text-align:  left;
	color: black;
	float:left;
}
.new_offers
{
	margin-top: 1vw;
	margin-bottom: 0vw;
	width:90vw;
	background: url(back.jpg);
	background-size: cover;
	text-align:  left;
	color: black;
	float:left;
}
.new_offers p
{
	color: black;
}
.photo
{
	margin: 0.5vw;
	position: absolute;
	left: 75vw;
}
.photo img
{
	max-width: 14vw;
	max-height: 13vw;
}
#new_offerz
{
	margin: 3vw;
	position: absolute;
	top: 15vw;
	width:100vw;
	border-radius: 10px;
	color: black;
}
.order
{
	position: absolute;
	left: 1vw;
	top: 67px;
	width: 39vw;
	height: 90vh;
	border-radius: 10px;
	border: 2px solid #00BFFF;
	background: linear-gradient(to right, black, #363636);
}
.self_text
{
	text-align: left;
	margin-left:2vw;
}
.message
{
	position: absolute;
	left: 60vw;
	top: 67px;
	width: 39vw;
	height: 90vh;
	border-radius: 10px;
	border: 2px solid #00BFFF;
	background: linear-gradient(to right, #4F4F4F, gray);
}
.left_enters
{
	position:fixed;
	top: 30vw;
	left: 45vw;
	width:50vw;
	height:350px;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.right_enters
{
	position:fixed;
	top: 30vw;
	left: 5vw;
	width:50vw;
	height:350px;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.user_switch {
    width: 135px; /* Ширина поля с учетом padding */
    height: 40px; /* Высота */
    background: #000000;
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	color: #FFFFFF;
	padding:0 5px;
	display: inline-block;
 }
 .user_switch a
 {
 	color: #FFFFFF;
 }
 .valign
 {
 	margin: 10px;
 }
 #left
 {
 	border-radius: 0 10px 10px 0;
 	margin-left: -2px;;
 }
 #right
 {
 	border-radius: 10px 0 0 10px;
 	margin-right: -2px;
 }
 .switched 
 {
 	border: 2px solid #000000;
 	color: #000000;
 	background: #FFFFFF;
 }
  .switched a
 {
 	color: #000000;
 }
.user {
    width: 300px; /* Ширина поля с учетом padding */
    height: 46px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .mess {
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .offer {
    width: 500px; /* Ширина поля с учетом padding */
    height: 40px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 #textarea
 {
 	height: 400px;
 }
 .change {
    width: 100px; /* Ширина поля с учетом padding */
    height: 30px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 0.8em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 #init
 {
 	width: 75px;
 }
 .button_switch
 {
 	margin: 2vw;
 }
 .switch_region
 {
 	position: absolute;
	top: 8vw;
	left: 70vw;
	width: 28vw;
	height: 36vw;
	background: url(back.jpg);
	background-size: cover;
 }

 .secret_change {
    width: 250px; /* Ширина поля с учетом padding */
    height: 30px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 0.8em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .self_text span
 {
 	float:right;
 }
 .registration
{
	position:absolute;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:1100px;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.self_room
{
	position:fixed;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:300px;
	color: #FFFFFF;
}
.err
{
	top: 190px;
	left: 40vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
.errz
{
	top: 50px;
	left: 42vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
#ri
{
	top: 100px;
	left: 33vw;
}
.add_offer
{
	position:absolute;
	left: 3vw;
	top: 8vw;
	text-align:  center;
}
.new_err
{
	top: 310px;
	left: 38vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
.complete
{
	top: 190px;
	left: 20vw;
	position: inherit; 
	text-align:  center;
}

.complete a
{
	color: #000000;
}
}
option
{
	text-align:  center;	
}

.messeger_name
{
	background: linear-gradient(to bottom right, #00BFFF, #FF7F24);
	border: 5px solid #000000;
	border-radius: 10px;
	cursor: pointer;
}
.alien_mess
{
	background: linear-gradient(to bottom right, #CAB44F, #EE7FAA);
	border: 1px solid #000000;
	margin-left: 10%;
}
.self_mess
{
	background: linear-gradient(to bottom right, #2AB77F, #187FAA);
	border: 1px solid #000000;
	margin-right: 10%;
}
.messs
{
	background: linear-gradient(to bottom right, #AABAFF, #FF7F24);
	border: 5px solid #000000;
	border-radius: 10px;
}
.mess_request {
	width: 33.5vw;
    height: 200px; /* Высота */
    background: #000000;
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	color: #FFFFFF;
	margin-right: 10%;
}
.mess_submit {
	width: 34vw;
    height: 50px; /* Высота */
    background: #000000;
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	color: #FFFFFF;
	margin-right: 10%;
}

.file_upload{
	left: 145px;
	width: 300px; /* Ширина поля с учетом padding */
    height: 46px;
    position: relative;
    overflow: hidden;
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    border-radius: 10px;
	color: #FFFFFF;
    font-size: 1em;        /* example */
    height: 2em;           /* example */
    line-height: 2em       /* the same as height */
}
.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%;
    border-radius: 10px;
}
.file_upload > div{
    padding-left: 1em      /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
    .file_upload > div{
        display: none
    }
    .file_upload > button{
        width: 100%
    }
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
.ok
{
	height: 1vw;
	left: 30vw;
	position: absolute;
}
.off
{
	left: 32vw;
	position: absolute;
	width: 1vw;
}
