@charset "utf-8";

body
{
	margin: 0.1vw;
	font-family: 'Roboto', sans-serif;
	/*background: url(grey_wash_wall.png);
	/*background: url(bg.jpg);*/
	background-attachment:fixed;
	background-repeat:cover;
}

.title
{
	position:absolute;
	width:100vw;
	height:16vh;
	background: white;
	text-align:  center;
	z-index: 1;
}
.slogan
{
	position: absolute;
	z-index: 2;
	top: 2vh;
	left: 2vw;
}
.newslogan
{
	position: absolute;
	z-index: 2;
	left: 10vw;
}
.slogan img
{
	height: 7vw;
	width: 9vw;
}
.oppotunity
{
	position:absolute;
	width:100vw;
	top: 6vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 10px;
}
.for_rieltors
{
	position:absolute;
	width:100vw;
	top: 6vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 10px;
}

h2
{
	font-size: 2vw;
}
a
{
	text-decoration: none;
}
#newlow
{	
	width: 100%;
	height: 8vw;
	top: 50vw;
	margin-bottom: 0px;
	background-color: gray;
	position: fixed;
	display: block;
	font-size: 1vw;
}
#low
{	
	width: 100%;
	height: 14vh;
	margin-bottom: 0px;
	background-color: gray;
	position: relative;
	display: block;
	font-size: 1vw;
}
.menu
{
	top: 5vw;
	height: 10vw;
	width:100vw;
	z-index: 1;
	display: block;
}
.menu img
{
	width:21.3vw;
}
#picture
{
	position: relative;
	display: block;
	height: 69vh;
	z-index: 0;
}
.links
{
	position:absolute;
	top: 16vh;
	width:100vw;
	height: 7vh;
	background: #054F87;
	opacity: 0.85;
	text-align:  center;
	z-index: 1;
}
.links a
{
	color: white;
}
.newlinks
{
	position:absolute;
	width:100vw;
	height:4vw;
	background: #054F87;
	opacity: 0.85;
	text-align:  center;
	z-index: 1;
}
.newlinks a
{
	color: white;
}
.content
{
	position:absolute;
	top: 9vw;
	width:100vw;
	height:6vw;
	text-align:  center;
}
.links p
{
	color: #FFFFFF;
	font-size: 1.2vw;
}
#orders
{
	position: inherit;
	left: 1vw;
	width:39vw;
	}
#messegers
{
	position: inherit;
	left: 60vw;
	width:39vw;
}
#about
{
	position: inherit;
	left: 1vw;
	width:15vw;
	cursor: pointer;
}
#agintis
{
	position: inherit;
	left: 10vw;
	width:15vw;
}
#how_work
{
	position: inherit;
	left: 25vw;
	width:15vw;
	border-radius: 10px;
	cursor: pointer;
}
#order_developer
{
	position: inherit;
	left: 40vw;
	width:20vw;
	color: white;
}
#connection
{
	position: fixed;
	top: 70vw;
	left: 83vw;
	width:15vw;
	z-index: 1;
	cursor: pointer;
}
#connection p
{
	color: black;
}
#self
{
	position: inherit;
	left: 40vw;
	width:20vw;
}
#enter
{
	position: inherit;
	left: 84vw;
	width:15vw;
	cursor: pointer;
}
#registration
{
	position: inherit;
	left: 60vw;
	width:15vw;
	cursor: pointer;
}
#img
{
	width: 9vw;
	height:9vw;
	border-radius: 4.5vw;
}
#order_mess
{
	left: 1vw;
	position: absolute;
	width: 4vw;
	height:4vw;
	border-radius: 2vw;
}
#order_off
{
	left: 40vw;
	position: absolute;
	width: 4vw;
	height:4vw;
	border-radius: 2vw;
}
#photo
{
	position: absolute;
	right: 10vw;
	top: 10vw;
}
#photo img
{
	height: 15vw;
	width: 15vw;
	border-radius:10vw;
}
.switch
{
	position: absolute;
	top: 10vw;
	width:40vw;
	height:60vh;
	text-align:  center;
	color: white;
	border: 0.5vw solid black;
}
.left_ri
{
	left: 5vw;
}
.right_ri
{
	left: 55vw;
}
.ri_rect
{
	position: absolute;
	top: 30vw;
	height:10vw;
	width:40vw;
	background-color: #58D3F7;
	color: black;
}
.rect
{
	position: absolute;
	background-color: #58D3F7;
	width: 19.8vw;
	top: 42vh;
	height: 9vh;
}
.hc{
	top: 35vh;
	left: 5vw;
    width: 9.8vw;
	height: 9.8vw;
    border-radius:10vw;
    background-color: #58D3F7;
	position: absolute; 
    clip: rect(0, 50vw, 50vw, 0);
}
.hc img
{
	max-width: 5vw;
	max-height: 5vw
}
.newrieltors
{
	top: 4vw;
	left: 0vw;
	width: 22vw;
	height: 5vw;
}
.newinsurance
{
	top: 4vw;
	left: 19.7vw;
	width: 24vw;
	height: 5vw;
}
.newritual
{
	top: 4vw;
	left: 39.5vw;
	width: 24vw;
	height: 5vw;
}
.newtourists
{
	top: 4vw;
	left: 59.2vw;
	width: 24vw;
	height: 5vw;
}
.newother
{
	top: 4vw;
	left: 78.8vw;
	width: 24vw;
	height: 5vw;
}
.slides
{
	position:absolute;	
	width:19.8vw;
	text-align:  center;
	color: white;
	bottom:-1vh;
}
.rieltors
{
	left: 0vw;
	width: 22vw;
	height: 70vh;
}
.insurance
{
	left: 8.5vw;
	width: 34.5vw;
	height: 70vh;
}
.ritual
{
	left: 28.5vw;
	width: 35vw;
	height: 70vh;
}
.tourists
{
	left: 49.5vw;
	width: 34vw;
	height: 70vh;
}
.other
{
	left: 69vw;
	width: 31vw;
	height: 70vh;
}
.main_enters
{
	top: 10vw;
	position:absolute;
	width:40vw;
	left: 30vw;
	height:27vw;
	text-align:  center;
	color: black;
	background-color: #fbceb1;
	background-size: cover;
	text-align:  center;
	border-radius: 10px;
}
.enters
{
	position:absolute;
	width:40vw;
	height:23vw;
	background-color: #fbceb1;
	background-size: cover;
	text-align:  center;
	color: black;
}
.left_room
{	
	display: inline-block;
	text-align: right;
}
.room
{
	display: inline-block;	
	margin:auto;
}
.ch
{
	top:12vw;
	left: 25vw;
	width: 50vw;
}
.ch_inf
{
	top: 12vw;
	left: 5vw;
}
.ords
{
	top: 40vw;
	left: 5vw;
}
.ords h3
{
	color: black;
}
.ords img
{
	max-width: 3vw;
	max-height: 3vw;
}
.offs
{
	top: 40vw;
	left: 55vw;
}
.offs img
{
	max-width: 8vw;
	max-height: 8vw;
}
.offers
{
	position: absolute;
	top: 150px;
	left: 25vw;
	width:50vw;
	height:850px;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.text_align
{
	margin-left: 1vw;
	margin-top: 1vw;
	margin-right: 20vw;
}
.text_align_small
{
	margin-left: 3vw;
	margin-right: 3vw;
}

#list
{
	margin-top: 1vw;
	margin-left: 1vw;
	position: absolute;
	width:70vw;
	border-radius: 10px;
	color: black;
	overflow: auto;
	height: 70vh;
}
.list
{
	margin-top: 1vw;
	margin-bottom: 0vw;
	width:65vw;
	height: 11vw;
	/*background: linear-gradient(to top, #CEECF5, #58D3F7, #CEECF5);*/
	background: #E7E7DC;
	background-size: cover;
	text-align:  left;
	color: black;
	float:left;
	cursor: pointer;
}
.list_small
{
	margin-top: 0vw;
	margin-bottom: 1vw;
	margin-right: 1vw;
	margin-left: 0vw;
	width:21vw;
	height:21vw;
	/*background: linear-gradient(to top, #CEECF5, #58D3F7, #CEECF5);*/
	background: linear-gradient(to bottom, SandyBrown, #F4A060);
	background-size: cover;
	text-align:  center;
	border-radius: 5px;
	color: black;
	float:left;
}
.new_offers
{
	margin-top: 1vw;
	margin-bottom: 0vw;
	width:90vw;
	background: url(back.jpg);
	background-size: cover;
	text-align:  left;
	color: black;
	float:left;
}
.new_offers p
{
	color: black;
}
.photo
{
	margin: 0.5vw;
	position: absolute;
	left: 75vw;
}
.photo img
{
	max-width: 14vw;
	max-height: 13vw;
}
#new_offerz
{
	margin: 3vw;
	position: absolute;
	top: 15vw;
	width:100vw;
	border-radius: 10px;
	color: black;
}
.order
{
	margin-left: 10vw;
	position: absolute;
	width: 80vw;
	top: 10vh;
}
.self_text
{
	width: 30vw;
	text-align: left;
	margin-left:2vw;
}
.left_enters
{
	position:fixed;
	top: 30vw;
	left: 45vw;
	width:50vw;
	height:350px;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.right_enters
{
	position:fixed;
	top: 30vw;
	left: 5vw;
	width:50vw;
	height:350px;
	background: url(back.jpg);
	background-size: cover;
	text-align:  center;
	color: black;
}
.user_support
{
	height: 3vw;
	width: 15vw;
	background: linear-gradient(to bottom, NavajoWhite, orange);
	border-radius: 0.4vw;
}
.user_switch {
    width: 135px; /* Ширина поля с учетом padding */
    height: 40px; /* Высота */
    background: linear-gradient(to bottom, NavajoWhite, orange);
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	padding:0 5px;
	display: inline-block;
 }
 .user_switch a
 {
 	color: #000000;
 }
 .valign
 {
 	margin: 10px;
 }
 #left
 {
 	border-radius: 0 10px 10px 0;
 	margin-left: -2px;;
 }
 #right
 {
 	border-radius: 10px 0 0 10px;
 	margin-right: -2px;
 }
 .switched 
 {
 	border: 2px solid #FFFFFF;
 	color: #000000;
 	background: linear-gradient(to bottom, NavajoWhite, orange);
}
  .switched a
 {
 	color: #000000;
 }
 .long
 {
 	width: 325px;
 }
 .short
 {
 	width: 300px;
 }
.user {
    height: 46px; /* Высота */
    padding: 0 0; /* Поля */
    font-size: 1em; /* Размер текста */
	
 }

 .howwork img
 {
 	margin-top: -10vw;
 	width: 100vw;
 }

 .tip
 {
 	color: white;
 	padding: 29px;
 	margin-right: 300px;
 	text-align: right;
 }
 .offer {
    width: 500px; /* Ширина поля с учетом padding */
    height: 40px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 #textarea
 {
 	height: 400px;
 }
 .change {
    width: 100px; /* Ширина поля с учетом padding */
    height: 30px; /* Высота */
    background: #000000;
    : 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 0.8em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 #init
 {
 	width: 75px;
 }
 .button_switch
 {
 	margin: 2vw;
 }
 .switch_region
 {
 	position: absolute;
	top: 1vw;
	left: 70vw;
	width: 28vw;
	height: 36vw;
 }

 .secret_change {
    width: 250px; /* Ширина поля с учетом padding */
    height: 30px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 0.8em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .self_text span
 {
 	float:right;
 }
 .name_reg
 {
 	margin-left: 25vw;
 	text-align: left;
 }
 .blank
 {
 	margin: 1vw;
 	display: block;
 	float:right;
 	
 }
 .registration
{
	position:absolute;
	top: 5vw;
	left: 25vw;
	width:50vw;
	height:1100px;
	background-color: #fbceb1;
	background-size: cover;
	text-align:  center;
	color: black;
	border-radius: 10px;
}
.self_room
{
	position:fixed;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:300px;
	color: #FFFFFF;
}
.err
{
	top: 190px;
	left: 40vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
.errz
{
	top: 50px;
	left: 42vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
#ri
{
	top: 100px;
	left: 33vw;
}
.add_offer
{
	position:absolute;
	left: 3vw;
	top: 8vw;
	text-align:  center;
}
.new_err
{
	top: 310px;
	left: 38vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
.complete
{
	top: 190px;
	left: 20vw;
	position: inherit; 
	text-align:  center;
}

.complete a
{
	color: #000000;
}
}
option
{
	text-align:  center;	
}

.alien_off
{
	background-color: #F0F0F0;
	height: 5vw;
	padding: 10px;
	margin-bottom: 1vh;
	box-shadow: 0 0 5px;
}
.file_upload{
	width: 300px; /* Ширина поля с учетом padding */
    height: 46px;
    position: relative;
    overflow: hidden;
    background: white;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em;        /* example */
    line-height: 46px;       /* the same as height */
}
.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%;
    border-radius: 1px;
}
.file_upload > div{
    padding-left: 1em      /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
    .file_upload > div{
        display: none
    }
    .file_upload > button{
        width: 100%
    }
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
.ok
{
	height: 1vw;
	left: 30vw;
	position: absolute;
}
.off
{
	left: 32vw;
	position: absolute;
	width: 1vw;
}	
.name_order
{
	left: 6vw;
	position: absolute;
}
.name_orders
{
	left: 30vw;
	position: absolute;
}
.price_orders
{
	left: 50vw;
	position: absolute;
}
