@charset "utf-8";

body
{
	margin: 0.1vw;
	font-family: 'Roboto', sans-serif;
	background: url(fon.jpg);
	background-attachment:fixed;
	background-repeat:cover;
}
a 
{
	color: white;
	text-decoration: none;
}

.title
{
	position:absolute;
	width:100vw;
	height:9vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 1vw;
}
.slogan
{
	position: absolute;
	z-index: 2;
	top: 2vh;
	left: 2vw;
}
.slogan img
{
	height: 7vw;
	width: 9vw;
}
.oppotunity
{
	position:absolute;
	width:100vw;
	top: 6vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 10px;
}
.for_rieltors
{
	position:absolute;
	width:100vw;
	top: 6vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 10px;
}
.title h1
{
	color: #FFFFFF;
	font-size: 2.5vw;
}
.title h2
{
	color: #FFFFFF;
	font-size: 1.5vw;
}
h2
{
	font-size: 2vw;
}
a
{
	font-size: 2vw;
}
.links
{
	position:absolute;
	top: 9vw;
	width:100vw;
	height:6vw;
	background: linear-gradient(to right, black, gray);
	text-align:  center;
	border-radius: 1vw;
	z-index: 1;
}
.links p
{
	color: #FFFFFF;
	font-size: 1.7vw;
}
#orders
{
	position: inherit;
	left: 1vw;
	width:39vw;
	}
#messegers
{
	position: inherit;
	left: 60vw;
	width:39vw;
}
#about
{
	position: inherit;
	left: 1vw;
	width:15vw;
	cursor: pointer;
}
#how_work
{
	position: inherit;
	left: 25vw;
	width:15vw;
	border-radius: 10px;
	cursor: pointer;
}
#connection
{
	position: fixed;
	top: 70vw;
	left: 83vw;
	width:15vw;
	z-index: 1;
	cursor: pointer;
}
#connection p
{
	color: black;
}
#self
{
	position: inherit;
	left: 40vw;
	width:20vw;
}
#enter
{
	position: inherit;
	left: 84vw;
	width:15vw;
	cursor: pointer;
}
#registration
{
	position: inherit;
	left: 60vw;
	width:15vw;
	cursor: pointer;
}
#img
{
	width: 9vw;
	height:9vw;
}
#photo
{
	position: absolute;
	right: 1vw;
	top: 1vw;
}
#photo img
{
	height: 6vw;
	width: 7vw;
}
.rieltors
{
	position:absolute;
	top: 10vw;
	left: 0vw;
	width:25vw;
	height:60vh;
	text-align:  center;
	color: white;
}
.rieltors img
{
	height: 11vw;
	width: 11vw;
}
.insurance
{
	position:absolute;
	top: 10vw;
	left: 25vw;
	width:25vw;
	height:60vh;
	text-align:  center;
	color: white;
}
.insurance img
{
	height: 11vw;
	width: 11vw;
}
.ritual
{
	position:absolute;
	top: 10vw;
	left: 50vw;
	width:25vw;
	height:60vh;
	text-align:  center;
	color: white;
}
.ritual img
{
	height: 11vw;
	width: 11vw;
}
.other
{
	position:absolute;
	top: 10vw;
	left: 75vw;
	width:25vw;
	height:60vh;
	text-align:  center;
	color: white;
}
.other img
{
	height: 11vw;
	width: 11vw;
}
.enters
{
	position:fixed;
	top: 30vw;
	left: 25vw;
	width:50vw;
	height:30vw;
	background: linear-gradient(to right, #CEECF5, #58D3F7, #CEECF5);
	text-align:  center;
	color: black;
}
.offers
{
	position: absolute;
	top: 150px;
	left: 25vw;
	width:50vw;
	height:850px;
	background: linear-gradient(to right, #CEECF5, #58D3F7, #CEECF5);
	text-align:  center;
	color: black;
}
.new_offers
{
	width:49vw;
	background: linear-gradient(to right, #CEECF5, #58D3F7, #CEECF5);
	text-align:  center;
	color: black;
	float:left;
}
.new_offers p
{
	color: black;
}

#new_offerz
{
	position: absolute;
	top: 20vw;
	width:100vw;
	height:1250px;
	border-radius: 10px;
	text-align:  center;
	color: black;
}
.order
{
	position: absolute;
	left: 1vw;
	top: 67px;
	width: 39vw;
	height: 90vh;
	border-radius: 10px;
	border: 2px solid #00BFFF;
	background: linear-gradient(to right, black, #363636);
}
.self_text
{
	text-align: left;
	margin-left:20px;
}
.message
{
	position: absolute;
	left: 60vw;
	top: 67px;
	width: 39vw;
	height: 90vh;
	border-radius: 10px;
	border: 2px solid #00BFFF;
	background: linear-gradient(to right, #4F4F4F, gray);
}
.left_enters
{
	position:fixed;
	top: 30vw;
	left: 45vw;
	width:50vw;
	height:350px;
	background: linear-gradient(to right, #CEECF5, #58D3F7, #CEECF5);
	text-align:  center;
	color: black;
}
.right_enters
{
	position:fixed;
	top: 30vw;
	left: 5vw;
	width:50vw;
	height:350px;
	background: linear-gradient(to right, #CEECF5, #58D3F7, #CEECF5);
	text-align:  center;
	color: black;
}
.user {
    width: 300px; /* Ширина поля с учетом padding */
    height: 46px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .mess {
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .offer {
    width: 500px; /* Ширина поля с учетом padding */
    height: 40px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 #textarea
 {
 	height: 400px;
 }
 .change {
    width: 150px; /* Ширина поля с учетом padding */
    height: 30px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 0.8em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 #init
 {
 	width: 75px;
 }
 
 #switch_region
 {
 	top: 100px;
 	position: absolute;
	left: 38vw;
 }
 .secret_change {
    width: 250px; /* Ширина поля с учетом padding */
    height: 30px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 0.8em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .self_text span
 {
 	float:right;
 }
 .registration
{
	position:absolute;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:1100px;
	background: linear-gradient(to right, #CEECF5, #58D3F7, #CEECF5);
	text-align:  center;
	color: black;
}
.self_room
{
	position:fixed;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:300px;
	color: #FFFFFF;
}
.err
{
	top: 190px;
	left: 40vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
.errz
{
	top: 50px;
	left: 42vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
#ri
{
	top: 100px;
	left: 33vw;
}
.add_offer
{
	position:absolute;
	left: 38vw;
	top: 12vw;
	text-align:  center;
}
.new_err
{
	top: 310px;
	left: 38vw;
	position: inherit;
	color: red; 
	text-align:  center;
}
.complete
{
	top: 190px;
	left: 20vw;
	position: inherit; 
	text-align:  center;
}

.complete a
{
	color: #000000;
}
}
option
{
	text-align:  center;	
}

.messeger_name
{
	background: linear-gradient(to bottom right, #00BFFF, #FF7F24);
	border: 5px solid #000000;
	border-radius: 10px;
	cursor: pointer;
}
.alien_mess
{
	background: linear-gradient(to bottom right, #CAB44F, #EE7FAA);
	border: 1px solid #000000;
	margin-left: 10%;
}
.self_mess
{
	background: linear-gradient(to bottom right, #2AB77F, #187FAA);
	border: 1px solid #000000;
	margin-right: 10%;
}
.messs
{
	background: linear-gradient(to bottom right, #AABAFF, #FF7F24);
	border: 5px solid #000000;
	border-radius: 10px;
}
.mess_request {
	width: 33.5vw;
    height: 200px; /* Высота */
    background: #000000;
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	color: #FFFFFF;
	margin-right: 10%;
}
.mess_submit {
	width: 34vw;
    height: 50px; /* Высота */
    background: #000000;
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	color: #FFFFFF;
	margin-right: 10%;
}

.file_upload{
	left: 145px;
	width: 300px; /* Ширина поля с учетом padding */
    height: 46px;
    position: relative;
    overflow: hidden;
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    border-radius: 10px;
	color: #FFFFFF;
    font-size: 1em;        /* example */
    height: 2em;           /* example */
    line-height: 2em       /* the same as height */
}
.file_upload > button{
    float: right;
    width: 8em;            /* example */
    height: 100%;
    border-radius: 10px;
}
.file_upload > div{
    padding-left: 1em      /* example */
}
@media only screen and ( max-width: 500px ){  /* example */
    .file_upload > div{
        display: none
    }
    .file_upload > button{
        width: 100%
    }
}
.file_upload input[type=file]{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(20);
    letter-spacing: 10em;     /* IE 9 fix */
    -ms-transform: scale(20); /* IE 9 fix */
    opacity: 0;
    cursor: pointer
}
.ok
{
	height: 1vw;
	left: 30vw;
	position: absolute;
}
.off
{
	left: 32vw;
	position: absolute;
	width: 1vw;
}
