body
{
	background-color:#F0FFF0;
}
a 
{
	color:#FFFFFF;
	text-decoration: none;
}

.title
{
	position:absolute;
	width:100vw;
	height:120px;
	background-color:#000000;
	text-align:  center;
	border-radius: 10px;
}
.slogan
{
	position: absolute;
	z-index: 2;
	top: 20px;
	left: 20px;
}

.title h1
{
	color: #FFFFFF
}
.title h2
{
	color: #FFFFFF;
}
.links
{
	position:absolute;
	top: 120px;
	width:100vw;
	height:70px;
	background-color:#000000;
	text-align:  center;
	font-size: 20px;
	border-radius: 10px;
	z-index: 1;
}
.links p
{
	color: #FFFFFF;
}
#about
{
	border: 2px solid #00BFFF;
	position: inherit;
	left: 1vw;
	width:15vw;
	border-radius: 10px
}
#how_work
{
	border: 2px solid #00BFFF;
	position: inherit;
	left: 25vw;
	width:15vw;
	border-radius: 10px
}
#connection
{
	position: fixed;
	top: 70vw;
	left: 82vw;
	width:15vw;
}
#connection p
{
	color: black;
}
#enter
{
	border: 2px solid #00BFFF;
	position: inherit;
	left: 55vw;
	width:15vw;
	border-radius: 10px
}
#registration
{
	border: 2px solid #00BFFF;
	position: inherit;
	left: 84vw;
	width:15vw;
	border-radius: 10px
}
.rieltors
{
	position:fixed;
	top: 250px;
	left: 2vw;
	width:40vw;
	height:400px;
	background-color:#00BFFF;
	border: 5px solid #000000;
	border-radius: 10px;
	text-align:  center;
	color: #FFFFFF;
}
.insurance
{
	position:fixed;
	top: 250px;
	left: 57vw;
	width:40vw;
	height:400px;
	background-color:#00BFFF;
	border: 5px solid #000000;
	border-radius: 10px;
	text-align:  center;
	color: #FFFFFF;
}
.enters
{
	position:fixed;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:300px;
	background-color:#00BFFF;
	border: 5px solid #000000;
	border-radius: 10px;
	text-align:  center;
	color: #FFFFFF;
}
.self_room
{
	position:fixed;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:300px;
	color: #FFFFFF;
}
.user {
    width: 300px; /* Ширина поля с учетом padding */
    height: 46px; /* Высота */
    background: #000000;
    padding: 0 10px; /* Поля */
    border: 2px solid #FFFFFF;
    font-size: 1em; /* Размер текста */
	border-radius: 10px;
	color: #FFFFFF;
 }
 .registration
{
	position:absolute;
	top: 250px;
	left: 25vw;
	width:50vw;
	height:800px;
	background-color:#00BFFF;
	border: 5px solid #000000;
	border-radius: 10px;
	text-align:  center;
	color: #FFFFFF;
}
option
{
	text-align:  center;	
}
