{% extends "base.html" %}
{% load staticfiles %}
	{% block title %} 
	<h2>
	 Agentis.ru - ваш выбор
	</h2>
	{% endblock %}
{% block content %}
	<div class="rieltors animated" id="rie" onmouseover="animationz('rie', 'pulseto')" onmouseout="animationzr('rie', 'pulseout', 'pulceto')">
		<h2>
			Риелторские услуги
		</h2>	
		<a href="for_rieltors">
		<img src="{%static "img/e1.png" %}" id="p1" width="150px" onmouseover="animation('p1', 'pulse')" class="animated"> 
		</a>
		<h3>
		<a href="how_rieltors animated">
			Узнать подробнее
		</a>
		</h3>
	</div>
	<div class="insurance animated" id="ins" onmouseover="animationz('ins', 'pulseto')" onmouseout="animationzr('ins', 'pulseout', 'pulceto')">
		<h2>
			Страховые услуги
		</h2>
		<img src="{%static "img/e1.png" %}" id="p2" width="150px" onmouseover="animation('p2', 'pulse')" class="animated"> 
		<h3><a href="how_insurance">
			Узнать подробнее
		</a></h3>
	</div>
	<div class="ritual animated" id="rit" onmouseover="animationz('rit', 'pulseto')" onmouseout="animationzr('rit', 'pulseout', 'pulceto')">
		<h2>
			Ритуальные услуги
		</h2>
		<img src="{%static "img/e1.png" %}" width="150px"> 
		<h3>Узнать подробнее</h3>
	</div>
	<div class="other animated" id="oth" onmouseover="animationz('oth', 'pulseto')" onmouseout="animationzr('oth', 'pulseout', 'pulceto')">
		<h2>
			Прочие услуги
		</h2>
		<img src="{%static "img/e1.png" %}" width="150px"> 
		<h3>Узнать подробнее</h3>
	</div>
{% endblock %}
