{% extends "base.html" %}
{% load staticfiles %}
	{% block title %} 
	<h2>
	 Риелторам
	 </h2>
	 <script src='{% static 'js/change_data.js' %}'></script>
	{% endblock %}
{% block content %}
	<div id="new_offerz">
	{% for offers in offs %}
	<div class="new_offers">
		<div class="photo"> <img src="/media{{offers.img.img}}/" id="img"></div>
		<div class="text_align">
		<div id="your_offer{{forloop.counter}}" >
		<div class="first_change"><input type="submit" class="user_support" value="изменить" onclick="deploy_offer('your_offer{{forloop.counter}}', 'yournew_offer{{forloop.counter}}')"></div>	
		<div class="text">
			 {{offers.name_mess}}
		</div>
		</div>
		<div id="yournew_offer{{forloop.counter}}" style="display: none;">
		<form action="/ch_off_name/" method="post">{% csrf_token %}	
		<div class="text"><input type="text" value="{{offers.name_mess}}" class="secret_change" name="off_name" placeholder="Введите ваше предложение" ></div>
		<div class="first_change"><input type="submit" class="user_support" value="сохранить">
		<input type="hidden" value="{{offers.name_mess}}" name="off_name_old" ></div>
		</form>
		</div>
		<div id="your_sum{{forloop.counter}}">
		<div class="second_change"><input type="submit" class="user_support" value="изменить" onclick="deploy_offer('your_sum{{forloop.counter}}', 'yournew_sum{{forloop.counter}}')"></div>
		<div class="text">
			 {{offers.sum_mess}}
		</div>
		</div>
		<div id="yournew_sum{{forloop.counter}}" style="display: none;">
		<form action="/ch_off_sum/" method="post">{% csrf_token %}
			<div class="text"><input type="text" value="{{offers.sum_mess}}" class="secret_change" name="off_sum" placeholder="Введите сумму вашего предложения" ></div>
			<input type="hidden" value="{{offers.sum_mess}}" name="off_sum_old" >
		<div class="second_change"><input type="submit" class="user_support" value="сохранить"></div>
		</form>
		</div>
		<div id='collapce{{forloop.counter}}'>
		<div class="third_change"><input type="submit" class="user_support" value="изменить" onclick="deploy_offer('collapce{{forloop.counter}}', 'newcollapce{{forloop.counter}}')"></div>
		<div class="text">
		 	{{offers.message}}
		</div>
		</div>
		<div id='newcollapce{{forloop.counter}}' style="display: none;">
		<form action="/ch_off_mess/" method="post">{% csrf_token %}
		<div class="text"><textarea  rows="4" cols="10" wrap="virtual" name="off_mess" class="offer" id="textarea" placeholder="Описание">{{offers.message}}</textarea></div>
		<input type="hidden" value="{{offers.message}}" name="off_mess_old" >
		<div class="third_change"><input type="submit" class="user_support" value="сохранить"></div>
		</form>
		</div>
	</div>
	</div>
	{% endfor %}
	</div>
	<div class="add_offer">
	<h4 id="offer">
		<input type="submit" class="user" value="Добавить Заказ" onclick="Add_offer()">
	</h4>
	</div>
	<div id="new_offer" class="offers" style="display: none;">
		<form action="/order_result/" method="post" enctype="multipart/form-data">{% csrf_token %}
		<h4>
		Введите называние вашего предложения
		</h4>
		<input type="text" name="name" class="offer" placeholder="Название" >
		<h4>
		Выберите картинку
		</h4>
		<div class="upload">
        	<button type="button" >Загрузить</button>
        	<input type="file" name="img" multiple="true">
    		</div>
		<h4>
		Введите сумму, которую вы хотите получить за ваше предложение
		</h4>
		<input type="text"  name="sum" class="offer" placeholder="Сумма">
		<h4>
		Введите описание вашего предложения
		<textarea name="description" rows="4" cols="55" wrap="virtual" class="offer" id="textarea" placeholder="Описание"></textarea>
		</h4>
		<input type="submit" class="user" value="сохранить">
		</form>
	</div>
{% endblock %}
