{% extends "base.html" %}
{% load staticfiles %}
	{% block title %} 
	<h2>
	 Риелторам
	 </h2>
	 <script src='{% static 'js/change_data.js' %}'></script>
	{% endblock %}
{% block content %}
	<div id="switch_region">
	<form action="/filter/" method="post">{% csrf_token %}
	<select name="region" class="user" placeholder="Регион" >
			<option value="1">Выберите регион</option>
			<option value="2">Москва</option>
			<option value="3">Санкт-Петербург</option>
		</select>
	<br>
	<input type="submit" class="user" value="Отфильтровать"> 
	</form>
	</div>
	<div id="new_offerz">
	{% for offers in offs %}
	<div class="new_offers">
		<div id="your_offer{{forloop.counter}}" >
		<h2>
			Предложение: {{offers.name_mess}}
		</h2>
		<h3>
			Сумма предложения {{offers.sum_mess}}
		</h3>
		<h3>
			Имя исполнителя: {{offers.user_m.login}}
		</h3>
		<h3>
			<input id='deploy{{forloop.counter}}'  style="  margin: 0 auto;" type="submit" class="user" value="узнать подробнее" onclick="deploy_offer('deploy{{forloop.counter}}', 'collapce{{forloop.counter}}')">
		</h3>
		<div id='collapce{{forloop.counter}}' style="display: none;">
		<h3>
			<input style=" margin: 0 auto;" type="submit" class="user" value="свернуть описание" onclick="collapce_offer('deploy{{forloop.counter}}', 'collapce{{forloop.counter}}')">
			<p>Описание предожения<p> 
			<p>{{offers.message}}<p>
		</h3>
		</div>
		</form>
		</div>
	</div>
	{% endfor %}
	</div>
	<div class="errz">
		{% if errors %}
		<h3>
			{{errors}}
		</h3>
    {% endif %}
	</div>
{% endblock %}
