{% extends "base.html" %}
{% load staticfiles %}
	{% block title %} 
	<h2>
	 Риелторам
	 </h2>
	 <script src='{% static 'js/change_data.js' %}'></script>
	{% endblock %}
{% block content %}
	<div id="new_offer" class="offers">
		<form action="/order_result/" method="post">{% csrf_token %}
		<h4>
		Введите называние вашего предложения
		</h4>
		<input type="text" name="name" class="offer" placeholder="Название" >
		<h4>
		Введите сумму, которую вы хотите получить за ваше предложение
		</h4>
		<input type="text"  name="sum" class="offer" placeholder="Сумма">
		<h4>
		Введите описание вашего предложения
		<textarea name="description" rows="4" cols="55" wrap="virtual" class="offer" id="textarea" placeholder="Описание"> </textarea>
		</h4>
		<input type="submit" class="user" value="сохранить">
		</form>
	</div>
	<div class="err" id="ri"> 
		{% if errors %}
		<h3>
			{{errors}}
		</h3>
    {% endif %}
	</div>
{% endblock %}
