{% extends "base.html" %}
{% load staticfiles %}
	{% block title %} 
	<h2>
	 Список исполнителей
	 </h2>
	 <script src='{% static 'js/change_data.js' %}'></script>
	{% endblock %}
{% block content %}
	<div class="switch_region">
	<div class="user_switch" id="right">
	{% if user.is_authenticated %}
		{% if p.who == 2 %}
		<a href="list">
		{% else %}
		<a href="list_rieltors_order">
		{% endif %}
		{% else %}
		<a href="list">
		{% endif %}
	<div class="valign">Заказчик</div>
	</a>
	</div>
	<div class="user_switch switched" id="left">
	<div class="valign">Исполнитель</div>
	</a>
	</div> 
	<form action="/filter_profil/" method="post">{% csrf_token %}
	<select name="region" class="user_support" placeholder="Регион" >
			<option value="1">Выберите регион</option>
			<option value="2">Москва</option>
			<option value="3">Санкт-Петербург</option>
		</select>
	<br>
	<input type="submit" class="user_support" value="Отфильтровать"> 
	</form>
	</div>
	<div id="list">
	{% for p in ps %}
	<div class="list_small">
	<div class="text_align_small">
			<img src="/media{{p.img.img}}/" id="img">
			<p>{{p.surname}} {{p.forename}} {{p.partronyname}}</p>
			{% if p.region == 2 %}
			<p> Москва </p>
			{% elif p.region == 3 %}
			<p> Санкт-Петербург </p>
			{% endif %}
			<p>Специализация:{{p.profile}}</p>
			<p>Рейтинг:</p>
	</div>
	</div>
	{% endfor %}
	</div>
	<div class="errz">
		{% if errors %}
		<h3>
			{{errors}}
		</h3>
    {% endif %}
	</div>
{% endblock %}
