{% extends "base.html" %}
{% load staticfiles %}
	{% block title %} 
	<h2>
	 Добро пожаловать в личный кабинет!
	 </h2>
	 <script src='{% static 'js/change_data.js' %}'></script>
	{% endblock %}
{% block content %}
<a href="list_rieltors"><div class="enters offs animated" id="offs" onmouseover="animationz('offs', 'pulseto')" onmouseout="animationzr('offs', 'pulseout', 'pulceto')">
<h2>
Мои предложения
</h2>
<img src="{%static "img/offs.png" %}">
<h1> 5</h1>
</div></a>
<a href="orders"><div class="enters ords animated" id="ord" onmouseover="animationz('ord', 'pulseto')" onmouseout="animationzr('ord', 'pulseout', 'pulceto')">
<h2>
Мои заказы
</h2>
{% for offers in offs %}
<h3>{{offers.name_mess}}
{% endfor %}
</div></a>
<a href="messagers"><div class="enters mes animated" id="mes" onmouseover="animationz('mes', 'pulseto')" onmouseout="animationzr('mes', 'pulseout', 'pulceto')">
<h2>
Мои сообщения
</h2>
<img src="{%static "img/sms.png" %}">
<h1> {{count}}</h1>
</div></a>
<a href="change_self"><div class="enters ch_inf animated" id="inf" onmouseover="animationz('inf', 'pulseto')" onmouseout="animationzr('inf', 'pulseout', 'pulceto')">
	<h2>
		Мои данные
	</h2>
	<h3>ФИО: {{p.surname}} {{p.forename}} {{p.partronyname}}</h3>
	<h3>e-mail: {{p.email}}</h3>
	<h3>Телефон: {{p.number}}</h3>
	<h3>Должность: {% if p.who == 1 %} Исполнитель {% else %} Заказчик {% endif %}</h3>
	<h3></h3>
</div></a>
{% endblock %}
