{% extends "base.html" %}
{% load staticfiles %}
	{% block title %} 
	<h2>
	 Отправка сообщения
	 </h2>
	 <script src='{% static 'js/change_data.js' %}'></script>
	{% endblock %}
{% block content %}
<div class="s_mess">
	<form action="/save_mess/" method="post">{% csrf_token %}
	<p><textarea name="message" rows="20" cols="45" wrap="virtual" class="mess" placeholder="Введите ваше сообщение"></textarea></p>
	<p><input type="submit" class="user" value="Отправить сообщение"></p>
	<p><input type="hidden" name="name" value="{{name}}"></p>
	</form>
</div>	
{% endblock %}
